*{
    margin: 0;
    padding: 0;

}

.cabeçalho{
    background-color: cyan;
    color: black;
    align-content: center;
    display: inline-block;
}
.foto {
    width: 5%;
}
.braços {background-color: aliceblue;
color: black;}